/* Game Locations [mstw_gl_game_locations] CSS Document 
 *
 *  This is really pretty simple. The tables have three 'row types':
 *	the header row, even rows, and odd rows. For each, you can set:
 *	1. Text color
 *	2. Background color
 *	3. Border style, width, and color
 *	4. Link attributes - visited, hover, active, etc.
 *
 *	You can also control the table borders, padding, etc here as well.
 *
 */
 
 /*------------------------------------------------------------------
  *  CHANGE LOG
  *
  *	20121209-MAO: 
  *		Added some padding rules and split out the hover rules on the even
  *		and odd links.
  *
  *	20130120-MAO: 
  *		Added vertical alignment for tables and (new) map images.
  *
 -------------------------------------------------------------------*/

.mstw-gl-table {
    border-collapse: collapse!important;
    border-spacing: 0px;
}

.mstw-gl-table td, .mstw-gl-table td img {
	vertical-align: middle;
}

/* Set the table header attributes */
.mstw-gl-table-head thead,  .mstw-gl-table-head tr, .mstw-gl-table-head th {
    background: #4f81bd!important;
    color: #ffffff!important;
	border-spacing: 0px;
    border: 2px solid white;  /* So the border does not appear */
    padding: 5px!important;
}

/* Set the even row attributes */
.mstw-gl-even tr,  .mstw-gl-even td {
	color: #000000;
	background-color: #b8cce4;
	border-style: solid; 
	border-color: #ffffff; 
	border-width: 2px;
	padding: 5px;
}

/* Set the even links */
.mstw-gl-even td a,  .mstw-gl-even td a:visited, .mstw-gl-even td a:active {
    text-decoration: underline;
    color: #000;
}

.mstw-gl-even td a:hover  {
	color: #666;
}

/* Set the odd row attributes */
.mstw-gl-odd tr, .mstw-gl-odd td {
	color: #000000;
	background-color: #dbe5f1;
	border-style: solid;
	border-color: #ffffff;
	border-width: 2px;
	padding: 5px;
}

/* Set the odd links */
.mstw-gl-odd td a,  .mstw-gl-odd td a:visited, .mstw-gl-odd td a:active {
    text-decoration: underline;
    color: #000000;
}

.mstw-gl-odd td a:hover  {
	color: #666;
}